In [1]:
from pathlib import Path
import pandas as pd
import scipy.stats as stats

In [2]:
#Create a File Path - NorCal
data_set = Path("../Madison/Resources/NorCal.csv")

# Read in the data. 
norcal_df = pd.read_csv(data_set)
norcal_df.head()

,Unnamed: 0,Year,State,Region,County,Median Income,Median Housing Price
0,0,2018,California,NorCal,Lake County,48554,269408.333333
1,1,2018,California,NorCal,Merced County,57745,268086.666667
2,2,2018,California,NorCal,Stanislaus County,60321,312658.333333
3,4,2018,California,NorCal,Sacramento County,69767,365454.166667
4,5,2018,California,NorCal,El Dorado County,82742,491687.416667

In [3]:
#Create a File Path - SoCal
data_set2 = Path("../Madison/Resources/SoCal.csv")

# Read in the data. 
socal_df = pd.read_csv(data_set2)
socal_df.head()

,Year,State,Region,County,Median Income,Median Housing Price
0,2018,California,SoCal,Santa Barbara County,77472,662729.166667
1,2018,California,SoCal,San Diego County,79079,631283.333333
2,2018,California,SoCal,Riverside County,66964,401593.333333
3,2018,California,SoCal,San Bernardino County,63857,289050.000000
4,2018,California,SoCal,San Luis Obispo County,71148,616472.083333

In [4]:
# Calculate the housing price mean for counties in NorCal
population1 = norcal_df
population1['Median Housing Price'].mean()

648517.0915977962

In [5]:
# Calculate the housing price mean for counties in SoCal
population2 = socal_df
population2['Median Housing Price'].mean()

658633.3912037037

In [6]:
# Calculate Independent (Two Sample) t-test
stats.ttest_ind(population1['Median Housing Price'], population2['Median Housing Price'], equal_var=False)

TtestResult(statistic=-0.17474822959191583, pvalue=0.8616070751962959, df=107.20291780836581)

### The p-value is greater than 0.05 which shows us that there is no significant statistical difference between NorCal and SoCal housing prices.

In [7]:
# Income 
## Calculate the median income mean for counties in NorCal
population3 = norcal_df
population3['Median Income'].mean()

80676.0826446281

In [8]:
# Income 
## Calculate the median income mean for counties in SoCal
population4 = socal_df
population4['Median Income'].mean()

80306.72222222222

In [9]:
# Calculate Independent (Two Sample) t-test
stats.ttest_ind(population3['Median Income'], population4['Median Income'], equal_var=False)

TtestResult(statistic=0.11410950114570045, pvalue=0.9093539370630095, df=112.75090061775074)

### The p-value is greater than 0.05 which shows us that there is no significant statistical difference between NorCal and SoCal median income.